<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %>: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'default' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>

    <p style="color: green"><%= show_flash %></p>

    <%= yield %>

    <% if flash_is_displayed %>
      <%- javascript_tag do %>
        setTimeout("jQuery('#flash').slideUp('slow');", 5000);
      <% end -%>
    <% end %>

  </body>
</html>
